* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    display: flex;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  main > .container {
    padding: 60px 0px 0px 0px;
  }

  main .container .carousel img{
    height: 400px;
    width: 50%;
  }

  .footer container {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.footerItems {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}